<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src='/assets/home.png'>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='getstart'>
  <table height='100%' width='95%' align='center'>
    <tr>
      <td>
        <table width='95%' height='100%'>
          <tr>
            <td onclick='window.open("/articles", "_self")'>
              <img src='/assets/home_center_articles.png'>
            </td>
            <td>
              &nbsp;&nbsp;
            </td>
            <td onclick='window.open("/reviews", "_self")'>
              <img src='/assets/home_center_reviews.png'>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <img src='/assets/home_center.png' width='355px' height='189px'>
      </td>
    </tr>
    <tr>
      <td align='center'>
        <table width='95%' height='100%'>
          <tr>
            <td onclick='window.open("/releases", "_self")'>
              <img src='/assets/home_center_releases.png'>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</ion-content>
